.footer {
    width: 100%;
    padding: 50px;
    position: absolute;
    bottom: 0;
    background-color: #3a5fcd;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "logo contato endereco" "copy copy copy";
    grid-template-columns: 3fr 2fr 2fr;
}
.footer h1, p, li {
    color: #ffffff;
}
.footer h1 {
    font-size: 30px;
}
.logo {
    grid-area: logo;
}
.copyright {
    grid-area: copy;
    font-size: smaller;
}
.contatos {
    grid-area: contatos;
    
}
.endereco {
    grid-area: endereco;
}