.formDiv {
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 4px 4px 20px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formDiv > form > input {
    font-size: 20px;
}

.formDiv > form > button {
    font-size: 20px;
}